body {
	background-color: #f4f5f6;
	font-family: "Roboto", sans-serif;
}

main {
	background-color: white;
}

img:not(.rounded) {
	background-color: lightgray;
}

.container-xl {
	max-width: 1310px;
}

.navbar {
	color: #f4f5f6;
	background-color: #f72210;
}

.weather-container {
	font-size: 14px;
}

.weather-icon {
	width: 24px;
	height: 24px;
}

.logo-sm {
	width: 132px;
	height: 20px;
	filter: invert(1);
}

.logo-lg {
	width: 396px;
	height: 60px;
	filter: invert(1);
}

.sign-in-button {
	font-weight: bold;
	font-size: 17px;
	color: #f4f5f6;
	background-color: transparent;
	border: none;
}

.subscribe-button {
	font-weight: bold;
	font-size: 17px;
	color: #f72210;
	background-color: #f4f5f6;
	border: none;
}

.nav::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 70px;
	border-left: 12px solid white;
	border-top: 13px solid #f72210;
}

.nav {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link {
	color: black;
	font-size: 18px;
	font-weight: bold;
}

.nav-link:not(:first-child) {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
	color: #f72210;
}

.search {
	border: none;
	width: 90px;
	height: 20px;
	background: url("https://g.newsweek.com/www/images/icon-search-glass.svg")
		right center/contain no-repeat;
}

.logo {
	display: block;
	width: 45px;
	height: 35px;
	background: url("https://g.newsweek.com/www/images/logo-n1.svg")
		center/contain no-repeat #f72210;
}

.title-section {
	font-size: 15px;
	font-weight: bold;
}

.title-article {
	font-size: 24px;
	font-weight: bold;
}

.title-img {
	font-weight: bold;
	color: #f72210;
	position: absolute;
	left: 0;
	bottom: 0;
}

.subtitle {
	font-size: 14px;
	font-weight: lighter;
}

.featured-stories,
.extra-news {
	bottom: 0;
	align-self: end;
}

@media (max-width: 992px) {
	.featured-stories {
		flex-basis: 40%;
	}

	.main-stories {
		flex-basis: 60%;
	}

	.extra-news {
		top: 0;
		flex-basis: 100%;
	}

	.newsletter {
		width: 285px;
		margin: 0 auto;
	}
}

@media (max-width: 768px) {
	.featured-stories,
	.main-stories {
		flex-basis: 100%;
	}

	.featured-stories {
		position: relative !important;
	}

	.main-stories {
		order: -1;
	}
}

.card-magazine {
	width: 23%;
}

.card-magazine img {
	height: 290px;
}

.primary-title-magazine,
.secondary-title-magazine {
	font-size: 15px;
}

.primary-title-magazine {
	margin: 0;
	margin-right: 10px;
	padding: 5px;
	color: white;
	background-color: #f72210;
}

.secondary-title-magazine {
	margin: 0;
	color: #f72210;
}

@media (max-width: 992px) {
	.card-magazine img {
		height: 25vw;
	}
}

@media (max-width: 768px) {
	.card-magazine {
		width: 100%;
	}

	.card-magazine img {
		height: auto;
	}
}

.pick-story-card {
	width: 23%;
}

.pick-story-card img {
	height: 10vw;
}

@media (max-width: 992px) {
	.pick-story-card {
		width: 48%;
	}

	.pick-story-card img {
		height: 30vw;
	}
}

@media (max-width: 768px) {
	.pick-story-card {
		width: 100%;
	}

	.pick-story-card img {
		height: auto;
	}
}

.news-header-title {
	font-size: 22px;
	font-weight: bold;
	color: #f72210;
}

.news {
	width: 30%;
}

@media (max-width: 768px) {
	.news {
		width: 100%;
	}
}

.newsletter-bg {
	background: rgba(0, 0, 0, 0)
		url("https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&h=265&q=90&f=742bce9a6f72dd8f19ba2e7fd5db06e5")
		no-repeat scroll center center / cover;
}

.btn-footer {
	color: white;
	background-color: #f72210;
}

.secondary-magazine {
	position: absolute;
	z-index: 1;
	left: 50%;
	top: 5%;
}

@media (max-width: 992px) {
	.subscribe-footer,
	.newsletter-footer {
		width: 100% !important;
	}

	.newsletter-bg {
		width: 25% !important;
	}
}

@media (max-width: 768px) {
	.subscribe-footer {
		margin-bottom: 30px;
	}

	.subscribe-footer-content,
	.newsletter-footer-content {
		flex-direction: column;
		text-align: center;
	}

	.subscribe-footer-content > div:nth-child(2) {
		margin: 0 !important;
		padding: 0 !important;
		margin-top: 30px !important;
	}

	.newsletter-bg,
	.newsletter-text {
		width: 100% !important;
	}

	.newsletter-bg {
		height: 160px;
	}
}

.logo-footer {
	width: 236px;
	height: 36px;
	fill: #f72210;
}

.social {
	color: gray;
	margin: 0 5px;
}

.social:hover {
	cursor: pointer;
	color: var(--blue);
}

@media (max-width: 768px) {
	.logos-footer-container,
	.logo-footer-container {
		flex-direction: column;
		align-items: flex-start !important;
	}
}
